<tr>
  <td><%= render "upvote", post: post %><%= render "downvote", post: post %></td>
  <td class = "score"><span id="score_<%= post.id %>"><%= post.score %></span></td>
  <td class= "title"><%= post.title %></td>
  <td><%= post.body %>
    Posted by: <%= link_to post.email, post.user %>
  </td>
</tr>
