<tr>
  <td><%= render "upvote", post: post %><%= render "downvote", post: post %></td>
  <span id="score_<%= post.id %>"><td class="score"><%= post.score %></td></span>
  <td class="title"><%= post.title %></td>
  <td><%= post.body %>
    Posted by: <%= link_to post.email, post.user %>
  </td>
</tr>
