<div class="post_blob">
  <h3 class="title"><%= post.title %></h3> <%= link_to "permalink", post %>
  <div><%= post.body %></div>
  <div>Posted by: <%= link_to post.email, post.user %></div>
  <%= render "upvote", post: post %>
  <div id="score_<%= post.id %>">
    <span class="score"><%= post.score %></span>
  </div> 
  <%= render "downvote", post: post %>
</div>
