<%= form_for @post do |form| %>
  <%= render "error_messages", target: @post %>
  <div>
    <%= form.label :title, "Post Title: " %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body, "Post Body: " %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.collection_select(
      :category_id,
      @categories,
      :id,
      :title,
      include_blank: "Choose a Category"
    ) %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
