<%= form_for @post do |form| %>
  <div>
    <%= form.label :title, "Post title: " %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body, "Post Body: " %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.label "Choose a Category" %>
    <% if @categories.empty? %>
      <div>
        <%= link_to " create a category, first", [:new, :category] %>
      </div>
    <% else %>
        <%= form.collection_select(
          :category_id,
          @categories,
          :id,
          :title,
          include_blank: "choose"
        ) %>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
