<%= form_for @post do |form| %>
  <div>
    <%= form.label :title, "Post title: " %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body, "Post Body: " %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
