<div>
  <%= render @post %>
</div>
<div>
  <% if current_user.allowed_to_delete?(@post)  %>
    <%= link_to "Delete Post", @post, method: :delete %>
  <% end %>
</div>
<div>
  <strong>Category:</strong> <%= @category.name %> 
</div>

<h3>Comments</h3>

<div>
  <%= form_for [@post, @reply], url: [@post, :comments] do |form| %>
    <div><%= form.label :body, "enter your comment:" %></div>
    <div><%= form.text_area :body %></div>
    <div><%= form.submit %></div>
  <% end %>
</div>

<%= render @post.replies, reply: @reply %>
