<!DOCTYPE html>
<html>
  <head>
    <title>Wastr</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= link_to "Sign Out", :session, method: :delete %>
        <%= link_to "My Activity", current_user %>
      <% else %>
        <%= link_to "Login", [:new, :session] %>
        <%= link_to "Sign Up", [:new, :user] %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
